@media(min-width:768px){
    

    
    .first-line {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
    }

    .first-line img {
        width:30%;
    }
 
}