@media(min-width: 768px){
    .blog-container{
        display: flex;
        flex-direction: column;
        
    }

    .first-line{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 20px;
    }

    .second-line{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px;
    }

    .third-line{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 20px;
    }
    
    .blog-container img {
        flex-basis: 33.3333%;
    }
   

}
