.contact-container {
    display: flex;
    flex-direction: column;
   text-align: center;
   
}

.contact-method {
    display: flex;
    flex-direction: column;
   justify-content: center;
   
}

.Facebook {
    margin: 20px;
}

.Instagram {
    margin: 20px;
}

.Twitter {
    margin: 20px;
}

.Contact {
    margin: 20px;
}

.Email {
    margin: 20px;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

@media(min-width:768px){
    .contact-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
    }

    .contact-method {
        display: flex;
        flex-direction: row;
       justify-content: center;
       flex-wrap: wrap;
    }
    
    .order-large-1 {
        order: 1;
    }
    
    .order-large-2 {
        order: 2;
    }
    
    .order-large-3 {
        order: 3;
    }
    
    .order-large-4 {
        order: 4;
    }
    
    .order-large-5 {
        order: 5;
    }
  
        
}