    .flex-FQA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;

}
    #Questions {
    max-width: 100%;
    width:300px;
    height: 50px;
    margin-top:20px;
    margin-bottom:20px;
}

@media(min-width:768px){
    .FQA-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        max-width:1000px;
        margin-right: auto;
        margin-left: auto;

    }
    
    .FQA1{
        max-width:33%
    }

    .FQA2{
        max-width:33%
    }

    .FQA3{
        max-width:33%
    }

    .FQA4{
        max-width:33%
    }

    .FQA5{
        max-width:33%
    }

    .order-1 {
        order:1
    }
   
    .order-2 {
        order:2
    }

    .order-3 {
        order:3
    }

    .order-4 {
        order:4
    }

    .order-5 {
        order:5
    }

    
}