@import url("color.css");
@import url("navbar.css");
@import url("products.css");
@import url("FQA.css");
@import url("contact.css");
@import url("blog.html");

body {
    margin:0px;
}
nav {
    padding: 10px;
}

img {
    max-width:100%;
}

ul {
    list-style: none;
    padding-left: 0px;

}

footer {
    text-align: center;
    margin: 20px;
}



@media(min-width: 768px) {

    .flex-container {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .elephant1 {
        max-width: 30%;
        
    }

    .elephant2 {
        max-width: 30%;
        
    }
    
    .elephant3 {
        max-width: 30%;
        
    }
    
    .elephant4 {
        max-width: 60%;
        
    }
    
    .elephant5 {
        max-width: 30%;
        height:200px;
        
    }
}