@import url("color.css");
@import url("navbar.css");

body {
    margin:0px;
}
nav {
    padding: 10px;
}

img {
    max-width:100%;
}

ul {
    list-style: none;
    padding-left: 0px;

}

footer {
    text-align: center;
}



@media(min-width: 768px) {

    .flex-container {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }

    .elephant1 {
        max-width: 30%;
        
    }

    .elephant2 {
        max-width: 30%;
        
    }
    
    .elephant3 {
        max-width: 30%;
        
    }
    
    .elephant4 {
        max-width: 60%;
        
    }
    
    .elephant5 {
        max-width: 30%;
        
    }
}