
    .products-container {
        display: flex;
        flex-direction: column;

    }
@media(min-width:768px){
    .products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
      
    }

    .products-container img {
        flex-basis: 33.3333%
    }

    #largerone {
        flex-basis: 66.6666%;
        height: 500px;
    }




    
}