@import url("color.css");

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
}

.grid-item:last-child {
    height:30px;
}

.grid-item:last-child{
    grid-column: 1/span 2;
}

.grid-item:nth-child(1){
    grid-column: 1/span 3;
}

.grid-item:nth-child(1) h1{
    text-align: center;
    margin:70px;
}

.grid-item:nth-child(2) ul{
    margin-top: 25px;
}

.grid-item:nth-child(2) li {
    margin:20px;
}

.grid-item:nth-child(3) {
    grid-column: 2/span 2;
    padding:10px;
}

.grid-item:nth-child(3) img{
    max-width:100%;
}

.grid-item:last-child{
    grid-column: 1/span 3;
}
.grid-item:last-child p {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom:5px;

}



@media(min-width:768px) {
    
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         gap: 10px;
         height:500px;

    }

    .grid-item:nth-child(1){
        grid-column: 2/span 2;
    }

    .grid-item:nth-child(3) {
        grid-column: 2/span 2;
    }

    .grid-item:last-child {
        grid-column: 1/span 3;
    }
   
    .grid-container {
        width: 800px;
        margin: auto;
    }
}