body {
    margin:0px;
}

header {
    background-color: lightblue;
}

h2{
    margin:10px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
}

.p1 {
    line-height: 27px;
    letter-spacing: 0.9px;
    font-size: 18px;
}

img.nav-logo {
    max-width: 100%;
    width: 50px;
    margin: 20px;

}

img.toggle-img {
    max-width: 100%;
margin: 30px;
width: 40px;
}

input#Toggle {
    display: none;
}

label[for=Toggle] {
    float: right;
}

input#Toggle:checked+ul {
    display: block;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: none;
}

nav ul li {
    border-bottom: 1px solid black;
    margin:20px;

}

nav ul li:last-child {
    border-bottom: none;
}

nav ul a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

main { 
    margin:10px;

}

.elephantrescue img {
    max-width: 100%;
}

footer {
    text-align: center;
}

@media(min-width:768px) {

    label[for=Toggle] {
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding:0px;
    }

    nav ul li {
        display: inline-block;
        border-bottom: none;
        padding: 20px 0px;
    }

    h2 {
        text-align: center;
        font-size: 30px;
    }

    .p1 {
        font-size: 15px;
        max-width:750px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width:1200px) {
   
       
    
    .p1 {
     max-width:1000px;
     margin-left:auto;
     margin-right:auto;
     font-size:20px;
    }
 
 
    img.nav-logo {
        width: 70px;
    }
 
    nav ul li {
        margin: 25px;
        padding:0px;
    }
 }