body {
    margin: 0px;
}

header {
    text-align: center;
    font-size: 50px;
}

main{
    padding: 10px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.twoelephant {
    margin-left: auto;
    margin-right: auto;
}

.twoelephant img {
    max-width: 100%;
}

.p1 {
    margin-left: auto;
    margin-right: auto;
}

.elephant {
    margin-left: auto;
    margin-right: auto;
}

.elephant img {
    max-width: 100%;
}

footer {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}


@media(min-width: 768px) {

    header {
        font-size: 60px;
        text-align: center;
    }



    h2 {
        font-size: 40px;
        text-align: center;
        margin-top: 5px;
    }

    .twoelephant {
        max-width: 700px;
    }

    .twoelephant img {
        max-width: 100%;
        margin: auto;

    }

    .p1 {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .elephant {
        max-width: 700px;
    }


    footer {
        font-size: 20px;
        text-align: center;
        margin: 43px;
    }

}
@media(min-width: 1200px) {

    header {
        font-size: 100px;
        text-align: center;
    }

    h2 {
        font-size: 60px;
        text-align: center;
        margin-top: 5px;
    }


    .twoelephant {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .twoelephant img {
        max-width: 100%;
    }

    .p1 {
        max-width: 700px;
    }

    .elephant {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .elephant img {
        max-width: 100%;
    }
}