@import url("color.css");


body {
    margin:20px;
}
.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    
    width: 150px;
    margin-left:-5px;
}

img.toggle-img {
    margin-top:1px;
    width: 60px;
    
    
}

input#Toggle {
    display: none;
}

label[for=Toggle] {
    Float: right;
    margin-right: -6px;
}

input#Toggle:checked+ul {
    display: block;

}

nav ul {
    list-style: none;
    margin: -20px;
    margin-top:2px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:#DF802B;
    width: 100%;
}

nav ul li {
    border-bottom: 1px solid white;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-right: 27px;
margin-left: 10px;
    
}

nav ul li a {
    color:white;
    
}

nav ul li img {
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.Socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: -6px;
}

.Socialmedia img {
width:100%;
width:15px;
margin-left:6px;
margin-top:5px;
}



.Cate {
    color:#DF802B;
    margin-left:10px;
}
.flex2 li a{
    color:#DF802B;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,auto);
    gap: 50px;
    text-align: left;
    padding-left:0px;
    margin-top:30px;
    margin-bottom:30px;
}

.grid-item-1 img{
    width:100%;
}

.grid-item-1 h2{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    letter-spacing: 1px;
    color:#DF802B;
    text-align: left;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.grid-item img {
    width:100%;
    margin-top:30px;
}

.footerP{
    padding:10px;
}
.footerP1{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
    margin-bottom:-10px;
}
.footerP2{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}
.footerP3{
    text-align: center;
    font: 12px Arial, sans-serif;
    font-style: italic;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}






@media(min-width: 768px) {
    label[for="Toggle"] {
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
        margin-top:10px;

    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding-top: 30px;
        

    }


    nav ul li a {
        color:grey;
        font: 25px Arial, sans-serif;
         line-height:20px;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        
    }

    img.nav-logo {
        width: 400px;
        text-align: center;
    }

    .flex-container {
        font: 15px Arial, sans-serif;
        display:flex;
        flex-direction: row;
    }

    .Socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .Socialmedia img {
    width:100%;
    width:30px;
    margin-left:15px;
    margin-top:20px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: end;

    }

    .flex-container {
        font: 15px Arial, sans-serif;
        text-align: center;
    }

    .grid-container{
        width:700px;
        margin:auto;
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        gap: 10px;
        text-align: left;
        padding-left:0px;
        width:768px;
        margin: auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    
    .grid-item-1 img{
        width:100%;
    }
    
    .grid-item-1 h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px;
        letter-spacing: 2px;
    }
    .footerP1 {
        font-size:20px;
    }
    .footerP2 {
        font-size:20px;
    }
    .footerP3 {
        font-size:20px;
    } 

}
@media(min-width: 1280px) {
    
    nav ul li a {
        font: 35px Arial, sans-serif;
        
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:200px;
    }
}