@import url("color.css");


body {
    margin:10px;
}
.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    
    width: 150px;
}

img.toggle-img {
    margin-top:1px;
    width: 60px;
    
    
}

input#Toggle {
    display: none;
}

label[for=Toggle] {
    Float: right;
    margin-right: -6px;
}

input#Toggle:checked+ul {
    display: block;

}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:#DF802B;
    width: 100%;
}

nav ul li {
    border-bottom: 1px solid white;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    
}

nav ul li a {
    color:white;
}

nav ul li img {
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}


.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,auto);
    gap: 10px;
    text-align: left;
    padding-left:0px;
}

.grid-item-1 img{
    width:100%;
}

.grid-item-1 h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    letter-spacing: 2px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.grid-item img {
    width:100%;
}

.footerP{
    padding:10px;
}
.footerP1{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
    margin-bottom:-10px;
}
.footerP2{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}
.footerP3{
    text-align: center;
    font: 12px Arial, sans-serif;
    font-style: italic;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}






@media(min-width: 768px) {
    label[for="Toggle"] {
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding-top: 30px;
        

    }

    nav ul li a {
        color:grey;
        text-align: center;
        font: 20px Arial, sans-serif;
         line-height:20px;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        
    }

    img.nav-logo {
        width: 500px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .flex-container {
        font: 15px Arial, sans-serif;
        text-align: center;
    }

    .grid-container{
        width:400px;
        margin:auto;
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        gap: 10px;
        text-align: left;
        padding-left:0px;
        width:768px;
        margin: auto;
    }
    
    .grid-item-1 img{
        width:100%;
    }
    
    .grid-item-1 h2 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px;
        letter-spacing: 2px;
    }
  
    
}