@import url("color.css");



body {
    margin:20px;
}
.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    
    width: 150px;
    margin-left:-5px;
}

img.toggle-img {
    margin-top:1px;
    width: 60px;
    
    
}

input#Toggle {
    display: none;
}

label[for=Toggle] {
    Float: right;
    margin-right: -6px;
}

input#Toggle:checked+ul {
    display: block;

}

nav ul {
    list-style: none;
    margin: -20px;
    margin-top:2px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:#DF802B;
    width: 100%;
    z-index: 10;
}

nav ul li {
    border-bottom: 1px solid white;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-right: 27px;
margin-left: 10px;
    
}

nav ul li a {
    color:white;
}

nav ul li img {
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.Socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: -6px;
}

.Socialmedia img {
width:100%;
width:15px;
margin-left:6px;
margin-top:5px;
}

.bigIMG img{
    width:100%;
    margin-bottom:40px;
}

#DONATEh1 {
    text-align: center;
    font-size: 30px;
    color:#DF802B;
    margin-bottom:40px;
}

.Donate-text p {
    font: 20px Arial, sans-serif;
    line-height:28px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:grey;
}


main {
    background-position:center;
    background-size:cover;
    font-family:sans-serif;
    margin-top:20px;
}

.donaform {
    width:100%;
    margin:auto;
    color:black;
    padding:10px 0px 10px 0px;
    text-align: center;
    margin-bottom:-20px;

}

.thank-you-text {
    color:#DF802B;
    text-align: center;
    font-size:30px;
    margin-bottom:40px;
}

.main {
    width:100%;
    margin:auto;
}

form {
    padding:10px;
}

#name {
    width:100%;
    height:100px;
}

.name{
    margin-left:25px;
    width:125px;
    color:black;
    font-size:18px;
    font-weight:700;
    margin-top: 18px;
}


#Cell{
    margin-top:50px;
}
.firstname{
    position:relative;
    width:150px;
    left:100px;
    top:-10px;
    line-height: 30px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
}

.lastname {
        position:relative;
        width:150px;
        left:26px;
        top:34px;
        line-height: 30px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
    }

.firstlabel{
    position: relative;
    color:grey;
    text-transform: capitalize;
    font-size:14px;
    left:100px;
    top:-15px;
}

.lastlabel {
        position: relative;
        color:grey;
        text-transform: capitalize;
        font-size:14px;
        left:100px;
        top:37px;
    }

.email {
    position:relative;
    left:100px;
    top:-10px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}

.code {
    position:relative;
    left:100px;
    top:-10px;
    line-height:30px;
    width:50px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}

.number{
    position:relative;
    left:100px;
    top:-6px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}

.area-code {
    position:relative;
    color:black;
    text-transform: capitalize;
    font-size:14px;
    left:0px;
    top:15px;

}

.phone-number{
    position:relative;
    color:black;
    text-transform: capitalize;
    font-size:14px;
    left:-100px;
    top:38px;
}

.card-number{
    position:relative;
    left:100px;
    top:-2px;
    line-height:30px;
    width:150px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}

.SecurityCode {
        position:relative;
        left:100px;
        top:-37px;
        line-height:30px;
        width:50px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;

}

.option{
    position:relative;
    top:-10px;
    left:100px;
    margin-bottom:50px;
    line-height: 30px;
    width:200px;
    height:30px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
    outline:none;
    overflow:hidden;
}

.option option{
    font-size:20px;
}

.ZipCode {
    position:relative;
    left:100px;
    top:-5px;
    line-height:30px;
    width:50px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
    color:#555;
}

#membership {
    margin-left:25px;
    color:black;
    font-size:18px;
    margin-top: -20px;
}

.radio {
    display:inline-block;
    padding-right:70px;
    font-size:20px;
    margin-left:25px;
    margin-top:15px;
    color:black;

}

.radio input{
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    outline: none;


}

button{ 
    background-color:#DF802B;
    display:block;
    margin:auto;
    margin-top:60px;
    margin-bottom:60px;
    text-align: center;
    border-radius: 12px;
    border:2px solid #366473;
    padding:14px 110px;
    outline:none;
    color:black;
    cursor:pointer;
    transition:0.5px;
}

button:hover {
    background-color:#5390F5;
}






.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.grid-item img {
    width:100%;
    margin-top:30px;
}

.footerP{
    padding:10px;
}
.footerP1{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
    margin-bottom:-10px;
}
.footerP2{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}
.footerP3{
    text-align: center;
    font: 12px Arial, sans-serif;
    font-style: italic;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}








@media(min-width: 768px) {
    label[for="Toggle"] {
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
        margin-top:10px;

    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding-top: 30px;
        

    }


    nav ul li a {
        color:grey;
        font: 25px Arial, sans-serif;
         line-height:20px;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        
    }

    img.nav-logo {
        width: 400px;
        text-align: center;
    }

    .flex-container {
        font: 15px Arial, sans-serif;
        display:flex;
        flex-direction: row;
    }

    .Socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .Socialmedia img {
    width:100%;
    width:30px;
    margin-left:15px;
    margin-top:20px;
    }


    .Donate-text{
        width:700px;
        margin:auto;

    }

    .bigIMG img{
        width:100%;
        margin-bottom:45px;
    }
 
    .firstP{
        width: 1200px;
        margin: auto;
    }

    #DONATEh1{
        margin-bottom:45px;
    }

    .secondP{
        width: 1200px;
        margin: auto;
    }


    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .flex-container {
        font: 15px Arial, sans-serif;
        text-align: center;
    }

    .grid-container{
        width:700px;
        margin:auto;
    }



    .donaform {
        width:750px;
        margin:auto;
        color:black;
        padding:10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
    }
    
    .main{
        width:750px;
        margin:auto;
    }

    .firstname{
        position:relative;
        left:200px;
        top:-37px;
        line-height: 40px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
    }
    
    .lastname {
            position:relative;
            left:417px;
            top:-80px;
            line-height: 40px;
            border-radius:6px;
            padding:0 22px;
            font-size:16px;
            color:#555;
        }
    
 #name{
     height:55px;
 }
    #Security{
        margin-left:350px;
        margin-bottom: -40px;
    }
    .firstlabel{
        position: relative;
        color:black;
        text-transform: capitalize;
        font-size:14px;
        left:203px;
        top:-45px;
    }
    
    .lastlabel {
            position: relative;
            color:black;
            text-transform: capitalize;
            font-size:14px;
            left:219px;
            top:-47px;
        }
    
    .email {
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:443px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
    }
    
    .code {
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:50px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
    }
    
    .number{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:268px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
    }
    
    .area-code {
        position:relative;
        color:black;
        text-transform: capitalize;
        font-size:14px;
        left:100px;
        top:-4px;
    
    }
    
    .phone-number{
        position:relative;
        color:black;
        text-transform: capitalize;
        font-size:14px;
        left:-118px;
        top:-2px;
    }
    
    .card-number{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:443px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
    }
    
    .SecurityCode {
            position:relative;
            left:200px;
            top:-37px;
            line-height:40px;
            width:50px;
            border-radius:6px;
            padding:0 22px;
            font-size:16px;
            color:#555;
    
    }
    
    .ZipCode {
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:50px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
        margin-left: 200px;
    }
    
    .option{
        position:relative;
        left:200px;
        top:-37px;
        line-height: 40px;
        width:200px;
        height:40px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
        outline:none;
        overflow:hidden;
    }
    
    .option option{
        font-size:20px;
    }
    
    #membership {
        margin-left:25px;
        color:black;
        font-size:18px;
    }
    
    .radio {
        display:inline-block;
        padding-right:70px;
        font-size:20px;
        margin-left:25px;
        margin-top:15px;
        color:black;
    
    }
    
    .radio input{
        width:20px;
        height:20px;
        border-radius:50%;
        cursor:pointer;
        outline: none;
    
    
    }
    
    button{ 
        background-color:#DF802B;
        display:block;
        margin:auto;
        margin-top:60px;
        margin-bottom:60px;
        text-align: center;
        border-radius: 12px;
        border:2px solid #366473;
        padding:14px 110px;
        outline:none;
        color:black;
        cursor:pointer;
        transition:0.5px;
        font-size:25px;
    }

    .thank-you-text {
            color:#DF802B;
            text-align: center;
            font-size:30px;
            margin-bottom:70px;
        }
    
    
    button:hover {
        background-color:#5390F5;
    }

    .footerP1 {
        font-size:20px;
    }
    .footerP2 {
        font-size:20px;
    }
    .footerP3 {
        font-size:20px;
    }


    .flex {
        display: flex;
        flex-direction: row;
        justify-content: end;
    
    }
}

@media(min-width: 1280px) {

    nav ul li a {
        font: 35px Arial, sans-serif;
        
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:200px;
    }
}
    
    
