@import url("color.css");


.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    
    width: 150px;
}

img.toggle-img {
    margin-top:1px;
    width: 60px;
    
}

input#Toggle {
    display: none;
}

label[for=Toggle] {
    Float: right;
}

input#Toggle:checked+ul {
    display: block;

}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:#DF802B;
    width: 100%;
}

nav ul li {
    border-bottom: 1px solid white;
    margin: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

nav ul li a {
    color:white;
}

nav ul li img {
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}


#carousel img{
    width:100%;
}

#HOLA {
    text-align: center;
    font-size: 38px;
}

#FACES {
    text-align: center;
    font-size: 38px;
}

.firstP{
    font: 20px Arial, sans-serif;
    line-height:28px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:grey;
}


.fourIMG {
    width:300px;
    margin: auto;
}

.fourIMG img{
    width:100%;
}

#COVID-19{
    color:#DF802B;
    text-align: center;
    line-height:28px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
}

.youtubeIMG {
    width: 300px;
    margin: auto;
}

.youtubeIMG img{
    width:100%;
}

.secondP{
    font: px Arial, sans-serif;
    line-height:28px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:grey;
}

.photowall {
    width:350px;
    margin:auto;
    margin-bottom: 50px;
}

.photowall img{
    width:100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.grid-item img {
    width:100%;
}

.footerP{
    padding:10px;
}
.footerP1{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
    margin-bottom:-10px;
}
.footerP2{
    text-align: center;
    font: 12px Arial, sans-serif;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}
.footerP3{
    text-align: center;
    font: 12px Arial, sans-serif;
    font-style: italic;
    line-height:20px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    color:white;
}
























@media(min-width: 768px) {
    label[for="Toggle"] {
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding-top: 30px;
        

    }

    nav ul li a {
        color:grey;
        text-align: center;
        font: 20px Arial, sans-serif;
         line-height:20px;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        
    }

    img.nav-logo {
        width: 500px;
    }
    


    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .flex-container {
        font: 15px Arial, sans-serif;
        text-align: center;
    }

    
    .fourIMG {
     width: 750px;
    margin: auto;
    }

    .youtubeIMG {
        width: 750px;
        margin: auto;
    }

    .photowall {
        width:750px;
        margin:auto;
        margin-bottom: 50px;
    }
    
    

    .grid-container{
        width:400px;
        margin:auto;
    }


}

@media(min-width: 1280px) {
    .photowall {
        width:1000px;
        margin:auto;
        margin-bottom: 50px;
    }
}