@import url("reset.css");
@import url("color.css");

.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    margin-left: 20px;
    width: 50px;
}

img.toggle-img {
    margin-right: 20px;
    width: 40px;
    margin-top: 23px;
}

input#Toggle {
    display: none;
}

label[for=Toggle]{
    Float: right;
}

input#Toggle:checked + ul {
    display:block;

}   

nav ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:black;
    width: 100%;

}

nav ul li {
    border-bottom: 1px solid white;
    margin:20px;
    padding-bottom: 20px;
    
}

nav ul li img {
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.yogaclass img {
    width:100%;
}

.boxingclass img {
    width:100%;
    display: none;
}

.danceclass img {
    width:100%;
    display: none;
}



main{
    max-width:100%;
    padding:10px;
    background-color: black;
    color: white;
}
.classschedule {
    text-align: center;
    font-size: 50px;
}

.categories {
    max-width:800px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style: none;
    text-align: center;
    padding-left:0px;
}

.grid-container li{
    padding:10px;
}

.grid-container h3 {
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}

.grid-container p {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif
}

.grid-container li button {
    font-size: 30px;
    letter-spacing: 2px;
}

.footer-part2 ul {
    list-style: none;
    padding-left:0px;
    text-align: center;
    font-size:12px;
}

.classfooter {
    background-color: black;
    padding-top:80px;
    margin:0px;
    padding:20px;
}

.grid-item button {
    padding:15px;
    font-size: 15px;
    background-color:white;
}

.classfooter li{
    list-style: none;
    padding-left:0px;
    text-align: center;
    font-size:12px;
}



@media(min-width: 768px){
    label[for="Toggle"]{
        display: none;
    }

    img.nav-logo {
        margin-left: 20px;
        width: 90px;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding-top: 30px;

    }

    nav ul li img {
        width: 40px;
        margin-top: -3px;
    }

    .classschedule{
        font-size: 80px;
    }

    .flex-container {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .flex{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;

    }
    
    .boxingclass img{
        display: inline-block;
    }

    .danceclass img {
        display: inline-block;
    }

    .classschedulepage {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    
}