@import url("reset.css");
@import url("color.css");


.flex-container {
    font: 15px Arial, sans-serif;
}

img.nav-logo {
    max-width: 100%;
margin: 20px;
width: 50px;
}

img.toggle-img {
    max-width: 100%;
margin: 30px;
width: 40px;
}

input#Toggle {
    display: none;
}

label[for=Toggle]{
    Float: right;
}

input#Toggle:checked + ul {
    display:block;

}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
    display: none;
    position: fixed;
    background-color:black;
    width: 100%;

}

nav ul li {
    border-bottom: 1px solid white;
    margin:20px;
    padding-bottom: 20px;
    
}

nav ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}


main{
    max-width:100%;
    padding:10px;
}


.aboutpage-image{
    width:100%;
}
.aboutpage-image img{
    width:100%;
    margin:auto;
}

.aboutvibes{
    margin:auto;
}

.aboutvibes p {
    text-align: justify;
}

.join-now {
    text-align: center;
    padding-top:30px;

}

.join-now input {
    background-color: white;
    padding:10px 40px;
    font-size: 20px;
    font-weight: bold;
}
.footer-part1{
    max-width:100%;
}

.footer-part1 p{
    width:280px;
    text-align:justify;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom:20px;


}

.footer-part2 ul {
    list-style: none;
    padding-left:0px;
    text-align: center;
    font-size:12px;
}

.pricingfooter {
    background-color: black;
    margin-top: 180px;
}
.pricingfooter li{
    list-style: none;
    padding-left:0px;
    text-align: center;
    font-size:12px;
}

.pricing-note{
    width:280px;
    margin: auto;
}
.pricing-note p{
    font-size: 12px;
    text-align: justify;
}

h1{
    text-align: center;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.selectbutton {
    text-align: center;
}

.grid-item p {
    text-align: center;
    padding:5px;
    
}

.grid-item button {
    padding:10px;
    font-size: 15px;
    background-color:white;
}


.packageprice {
    font-size: 30px;
}
.packageexpeiration {
    font-size:12px;
}



@media(min-width: 768px){
    label[for="Toggle"]{
        display: none;
    }

    nav ul {
        display: block;
        float: right;
        padding: 0px;
        background-color: initial;
        position: initial;
    }

    nav ul li {
        border-bottom: none;
        display: inline-block;
        padding: 20px 0px;

    }

    .flex-container {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .flex{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;

    }

 
}

@media(min-width: 1100px){

    .footer-part1 p{
        width:800px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        height: 500px;
    }
   
    .grid-item form input{
        font-size: 20px;
    }

    .pricing-note{
        width:500px;
        margin: auto;
    }
    .pricing-note p{
        font-size: 10px;
        text-align: justify;
        margin-top:40px;
    }
    
    h1{
        text-align: center;
        font-size: 50px;
    }

}


